<h1 class="pt-40 font-poller text-4xl text-black-600 text-center" >
    icetagram
</h1>

<div class="flex justify-center space-x-4 mt-6 ">
    <%= image_tag 'icetagram.png', class: 'h-40 w-auto' %>
</div>
