<%= search_form_for @q, url: ice_creams_path, method: :get do |f| %>
    <div class="flex  w-xs lg:w-md gap-2">
        <%= f.search_field :name_cont, 
            class: 'flex-1 px-4 py-2 text-base border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent', 
            placeholder: 'ðŸ¦ ãŠæ°—ã«å…¥ã‚Šã®ã‚¢ã‚¤ã‚¹ã‚’æŽ¢ãã†' %>
        <%= f.submit 'æ¤œç´¢', 
            class: 'px-6 py-2 text-base font-medium text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
    </div>
<% end %>