<p>こんにちは <%= @resource.email %>さん</p>

<p>パスワードの再設定用リンクをリクエストいただきました。下記のリンクから手続きを行ってください</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>この操作に心当たりがない場合は、このメールは破棄してください。</p>
<p>上記リンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません</p>
